.room-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-gray-light);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.room-info h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.room-item.unavailable {
    background-color: var(--color-background-light);
    opacity: 0.7;
}

.unavailable-btn {
    background-color: var(--color-gray) !important;
    cursor: not-allowed;
    color: white !important;
}